@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/maps";
@import "./bootstrap/mixins";
@import "./bootstrap/grid";


//////////////////////////////////////////////////////////
// RULES //
//////////////////////////////////////////////////////////

@page {
    size: A4; // ISO/JIS A4 (210mm×297mm)
    margin: 0; // To remove headers & footers
}

* {
    // To enable Background Graphics
    -webkit-print-color-adjust: exact !important; // Chrome, Safari
    color-adjust: exact !important;  // Firefox
}

html, body {
    background-color: $white;
}

.navbar {
    display: none;
}

.container {
    min-width: 992px !important;
    max-width: 99.8%; // Because of container class constraint
}

#btn-toolbar {
    display: none;
}

a {
    text-decoration: none !important;
}

ul.badge-list > li {
    border: none;
}

div.page-breaker {
    page-break-before: always;
    height:1px;
    margin-bottom: 30px;
}

#primary-section {
    @extend .col-8;
    padding-bottom: 0 !important;
}

#secondary-section {
    @extend .col-4;
    padding-bottom: 0 !important;
    // height: 200vh; // On Chrome, helps to fill colored band to the second page
}
