$font-family-base: "Arial", sans-serif;

$theme-colors: (
  "light": white,
  "dark": black,
  "primary": #264653,
  "secondary": #8A9EA6,
  "info": #5A9E9B,
  "success": #5a9e9b,
  "warning": #F1CCAD,
  "danger":  #C53D1B
);
$body-bg: #B4C0C5;
//$body-bg: #2D3439;
$body-color: #000;
// $body-color: #fff;
$badge-color: #000;
$link-hover-color-rgb: #0056b3;